<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FinalProjectDBEntities" connectionString="metadata=res://*/DataModels.EFData.csdl|res://*/DataModels.EFData.ssdl|res://*/DataModels.EFData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VJ812OB;initial catalog=FinalProjectDB;integrated security=True;persist security info=False;pooling=False;multipleactiveresultsets=False;connect timeout=60;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FinalProjectDBEntities1" connectionString="metadata=res://*/DataModels.EFData.csdl|res://*/DataModels.EFData.ssdl|res://*/DataModels.EFData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VJ812OB;initial catalog=FinalProjectDB;integrated security=True;persist security info=False;pooling=False;multipleactiveresultsets=False;connect timeout=60;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>