
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>@Html.ActionLink("Посмотреть список пользователей", "List", "User")</p>
    <p>@Html.ActionLink("Добавить нововго пользователя", "Add", "User")</p>


</body>
</html>