
@{
    ViewBag.Title = "Index";
}

<h2>Course</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>@Html.ActionLink("Посмотреть список курсов", "List", "Course")</p>
    <p>@Html.ActionLink("Добавить новый курс", "Add", "Course")</p>
    
   
</body>
</html>