
@{
    ViewBag.Title = "Index";
}

<h2>Course</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @Html.ActionLink("Course list", "List", "Course")

</body>
</html>