
@model IEnumerable<FinalProject.Models.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @{
        foreach (var course in Model)
        {
            <ul>
                <li>@course.Name</li>
                
            </ul>
        }
    }


</body>
</html>
