@{
    ViewBag.Title = "Home Page";
}


<br />
<br />
<ul>

    <li>
        <p>@Html.ActionLink("Направления", "Index", "Course") </p>
       
    </li>

    <li> <p>@Html.ActionLink("Пользователи", "Index", "User") </p></li>
</ul>
